version: "3.9"

services:

  backend:
    build: .
    container_name: vehicle-backend
    ports:
      - "5000:5000"
    restart: always

  frontend:
    image: node:18
    container_name: vehicle-frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
    command: sh -c "npm install && npm run dev"
    ports:
      - "3000:3000"
    depends_on:
      - backend
